@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300&display=swap');


.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.body {
    background-color: white
}

.title {
    font-size: 22px;
    text-align: left;
    font-family: 'Ubuntu', 'sans-serif';
    color: black;
    background-color: white;
}

.text {
    font-size: 16px;
    text-align: left;
    font-family: 'Ubuntu', 'sans-serif';
    color: black;
    background-color: white;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.description {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: white;
}

.sec_text {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 16px;
    background-color: white;
    color: black;
    font-style: italic;
}